.bg-color{
    background-color: blue;
}
.jumbotron{
    background-image: url('../images/playa.jpg');
    background-repeat: no-repeat;

}

.col-sm{

    display:flex;
    
    align-items: center;
    
    justify-content: space-around;
    
    flex-wrap: wrap;
    
    /*border: 1px solid black;*/
    
    }

.space {
    display:flex;
    
    align-items: center;
    
    justify-content: space-around;
    
    flex-wrap: wrap;
    
    border: 10px ;
}